.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.count{
  font-size: 30px;
  vertical-align: bottom;
  margin-bottom: 0;
}
.countt{
  font-size: 30px;
  vertical-align: bottom;
}

#target_btn {
  font-size: 30px;
  width: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;
  color:blue;
  transition: 0.5s;
}

.minus-button {
  font-size: 30px;
  width: 2rem;
  border-radius: 5px;
  box-shadow: 1px 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color:blue;
  cursor: pointer;

  transition: 0.5s;
}

.big{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.ppmm{
  display: flex;
  width: 5rem;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
}

.onoff{
  margin-top: 1vh;
  background-color:#d5f1f8;
  width: 4rem;
  height: 2rem;
  color:blue;
}